<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cascade Shop</title>
    <link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<header>
    <div class="text logo-text">Cascaded</div>
    <nav class="navbar">
        <div class="text faq-button">FAQ</div>
        <div class="text telegram-button">Telegram</div>
    </nav>
    <button class="support-button">Связаться</button>
</header>

<section class="title">
    <div class="title-content">
        <h1>Магазин подписок</h1>
        <h1>Telegram Premium</h1>
    </div>
</section>

<section class="bottom-container">
    <div class="products">
        <div class="big-product">
            <div class="product-title-data title-data">
                <div class="product-title text-margin">Телеграм премиум 12 месяцев</div>
                <a>Включает в себя все функции, как при официальной покупке.<br>Вы получаете подписку на приобретаемый срок.</a>
            </div>
            <div class="big-price-container">
                <div class="price">1500 рублей</div>
                <div class="buy-button 12-months">Купить</div>
            </div>
        </div>

        <div class="little-products">
            <div class="half-product left">
                <div class="little-product-title-data title-data">
                    <div class="little-product-title text-margin">Телеграм премиум 3 месяца</div>
                    <a>Включает в себя все функции, как при официальной покупке.<br>Вы получаете подписку на приобретаемый срок.</a>
                </div>
                <div class="little-price-container left-price">
                    <div class="price">700 рублей</div>
                    <div class="buy-button 3-months">Купить</div>
                </div>
            </div>

            <div class="half-product right">
                <div class="little-product-title-data title-data">
                    <div class="little-product-title text-margin">Телеграм премиум 1 месяц</div>
                    <a>Включает в себя все функции, как при официальной покупке.<br>Вы получаете подписку на приобретаемый срок.</a>
                </div>
                <div class="little-price-container left-price">
                    <div class="price">220 рублей</div>
                    <div class="buy-button 1-month">Купить</div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>